In [2]:
import pandas as pd

# Specify the file path
file_path = r"C:\\Users\\Tinotenda Mangarai\\Documents\\Clients\\Kudzi\\data diss\\Harare North.xlsx"
output_file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Harare North.csv"

# Read the dataset into a pandas DataFrame
df = pd.read_excel(file_path)

# Add a new column named "Region" with the value "Harare"
df["Region"] = "Harare North"

# Save the DataFrame as a CSV file
df.to_csv(output_file_path, index=False)

print("Dataset saved successfully as a CSV file.")

,MSISDN,Age on Network,Recent Revenue Segment,Inactive Days,Recent Active Date,Recent Voice Usage Date,Usual Voice Appearance Week,Recent Data Usage Date,Usual Data Appearance Week,Recent SMS Usage Date,...,Recent ACS Borrow Date,Recent ACS Return Date,Churn Probability,Voice Revenue (Last 30 Days),Data Revenue (Last 30 Days),SMS Revenue (Last 30 Days),ACS Commission (Last 30 Days),Total Revenue (Last 30 Days),Recharge Amount (Last 30 Days),Region
0,263783833265,6-12 Months,HVC,29,2023-10-22,2023-10-20 00:00:00,First,2023-10-22 00:00:00,First,-,...,-,-,0.425,5633.852990,646280.015138,0.000000,0.0,651913.868128,92.490119,Harare
1,263779406999,12-24 Months,HVC,29,2023-10-22,2023-10-05 00:00:00,First,2023-10-22 00:00:00,First,-,...,-,-,0.535,2581.852193,435654.727654,0.000000,0.0,470276.625696,71.146245,Harare
2,263774021704,24+ Months,HVC,29,2023-10-22,2023-10-21 00:00:00,First,2023-10-22 00:00:00,First,2023-10-21 00:00:00,...,-,-,0.585,30604.791304,397976.284585,4090.656126,0.0,432671.732016,61.660079,Harare
3,263778829003,24+ Months,HVC,29,2023-10-22,2023-10-22 00:00:00,Second,2023-10-22 00:00:00,Second,2023-10-08 00:00:00,...,-,-,0.420,22014.850593,375841.897233,778.156522,0.0,398634.904348,57.707510,Harare
4,263789004763,12-24 Months,HVC,29,2023-10-22,2023-10-18 00:00:00,First,2023-10-22 00:00:00,First,2023-10-20 00:00:00,...,-,-,0.450,14477.571542,382401.073709,1733.543083,0.0,398612.188334,56.916996,Harare

In [4]:
# Specify the file path
file_path = r"C:\\Users\\Tinotenda Mangarai\\Documents\\Clients\\Kudzi\\data diss\\Harare South.xlsx"
output_file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Harare South.csv"

# Read the dataset into a pandas DataFrame
df = pd.read_excel(file_path)

# Add a new column named "Region" with the value "Harare"
df["Region"] = "Harare South"

# Save the DataFrame as a CSV file
df.to_csv(output_file_path, index=False)

print("Dataset saved successfully as a CSV file.")

Dataset saved successfully as a CSV file.

In [5]:
# Specify the file paths
file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\manicaland.xlsx"
output_file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\manicaland.csv"

# Read the dataset into a pandas DataFrame
df = pd.read_excel(file_path)

# Add a new column named "Region" with the value "manicaland"
df["Region"] = "Manicaland"

# Save the DataFrame as a CSV file with the name "Manicalnd.csv"
df.to_csv(output_file_path, index=False)

print("Dataset saved successfully as Manicaland.csv.")

Dataset saved successfully as Manicaland.csv.

In [6]:
# Specify the file paths
file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Mashonaland East.xlsx"
output_file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Mashonaland East.csv"

# Read the dataset into a pandas DataFrame
df = pd.read_excel(file_path)

# Add a new column named "Region" with the value "mashonaland east"
df["Region"] = "Mashonaland East"

# Save the DataFrame as a CSV file with the name "Mashonaland East.csv"
df.to_csv(output_file_path, index=False)

print("Dataset saved successfully as Mashonaland East.csv.")

Dataset saved successfully as Mashonaland East.csv.

In [7]:
# Specify the file paths
file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Mashonaland West.xlsx"
output_file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Mashonaland West.csv"

# Read the dataset into a pandas DataFrame
df = pd.read_excel(file_path)

# Add a new column named "Region" with the value "mashonaland west"
df["Region"] = "Mashonaland West"

# Save the DataFrame as a CSV file with the name "Mashonaland wesst.csv"
df.to_csv(output_file_path, index=False)

print("Dataset saved successfully as Mashonaland West.csv.")

Dataset saved successfully as Mashonaland West.csv.

In [8]:
# Specify the file paths
file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Masvingo.xlsx"
output_file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Masvingo.csv"

# Read the dataset into a pandas DataFrame
df = pd.read_excel(file_path)

# Add a new column named "Region" with the value "Masvingo"
df["Region"] = "Masvingo"

# Save the DataFrame as a CSV file with the name "Masvingo.csv"
df.to_csv(output_file_path, index=False)

print("Dataset saved successfully as Masvingo.csv.")

Dataset saved successfully as Masvingo.csv.

In [9]:
# Specify the file paths
file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Matebeleland.xlsx"
output_file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Matebeleland.csv"

# Read the dataset into a pandas DataFrame
df = pd.read_excel(file_path)

# Add a new column named "Region" with the value "Matebeleland"
df["Region"] = "Matebeleland"

# Save the DataFrame as a CSV file with the name "Masvingo.csv"
df.to_csv(output_file_path, index=False)

print("Dataset saved successfully as Matebeleland.csv.")

Dataset saved successfully as Matebeleland.csv.

In [10]:
# Specify the file paths
file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Midlands.xlsx"
output_file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Midlands.csv"

# Read the dataset into a pandas DataFrame
df = pd.read_excel(file_path)

# Add a new column named "Region" with the value "Midlands"
df["Region"] = "Midlands"

# Save the DataFrame as a CSV file with the name "Masvingo.csv"
df.to_csv(output_file_path, index=False)

print("Dataset saved successfully as Midlands.csv.")

Dataset saved successfully as Midlands.csv.

In [11]:
# Merging the datasets
# Specify the file paths of the individual datasets
file_paths = [
    r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Harare North.csv",
    r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Harare South.csv",
    r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\manicaland.csv",
    r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Mashonaland East.csv",
    r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Mashonaland West.csv",
    r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Masvingo.csv",
    r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Matebeleland.csv",
    r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Midlands.csv"
]

# Create an empty list to store the DataFrames
dfs = []

# Read each dataset into a DataFrame and append it to the list
for file_path in file_paths:
    df = pd.read_csv(file_path)
    dfs.append(df)

# Concatenate the DataFrames vertically
merged_df = pd.concat(dfs)

# Save the merged DataFrame as "Econet data.csv"
output_file_path = r"C:\Users\Tinotenda Mangarai\Documents\Clients\Kudzi\data diss\Econet data.csv"
merged_df.to_csv(output_file_path, index=False)

print("Merged dataset saved successfully as Econet data.csv.")

Merged dataset saved successfully as Econet data.csv.